Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Przekazanie nagłówka Authorization
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Wczytanie plików / katalogów, jeśli istnieją
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Przekierowanie wszystkiego na /
    RewriteRule ^ index.php [L]
</IfModule>